* {
  padding: 0;
  margin: 0;
}

nav {
  background: radial-gradient(#ffffff, #ff0000);
  & .title-website {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 8px;
    > img {
      width: 64px;
      height: 64px;
    }
  }
}
