.warna1{
    background-color: aqua;
    text-align: center;
}
.warna2{
    background-color: bisque;
    text-align: center;
}
.warna3{
    background-color: skyblue;
    text-align: center;
}
.warna4{
    background-color: salmon;
    text-align: center;
}
.warna5{
    background-color: burlywood;
    text-align: center;
}
h1{
    text-align: center;
}